.input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #f7f7f7;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
}

.input:hover {
  border-color: #e6f3ff;
}

.input:focus,
.input:active {
  outline: none;
  border-color: #4a60ff;
}
